[Desktop Entry]
Version=1.0
Type=Application
Name=Cable
GenericName=Dynamically modify Pipewire and Wireplumber settings
Comment=PyQt6 application to dynamically modify Pipewire and Wireplumber settings
Exec=cable
Icon=com.github.magillos.cable
Terminal=false
Categories=AudioVideo;Audio;Settings;Qt;
StartupWMClass=com.github.magillos.cable
#StartupWMClass=Cable
X-GNOME-UsesNotifications=true
X-KDE-DBUS-Restricted-Interfaces=org.kde.StatusNotifierWatcher,org.freedesktop.systemd1
X-Flatpak=com.github.magillos.cable
X-KDE-FormFactor=desktop
