[Desktop Entry]
StartupWMClass=cable
Name=Cable
Comment=Dynamically modify Pipewire and Wireplumber settings
Exec=pw-jack cable %u
Icon=jack-plug
Terminal=false
Type=Application
Categories=Utility;
