#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install --destdir=debian/cable

	install -Dm644 jack-plug.svg debian/cable/usr/share/icons/hicolor/scalable/apps/jack-plug.svg
	install -Dm644 jack-plug-light.svg debian/cable/usr/share/icons/hicolor/scalable/apps/jack-plug-light.svg
	install -Dm644 jack-plug-dark.svg debian/cable/usr/share/icons/hicolor/scalable/apps/jack-plug-dark.svg
	gtk-update-icon-cache -f -t debian/cable/usr/share/icons/hicolor || true
	install -Dm644 com.github.magillos.cable.desktop debian/cable/usr/share/applications/com.github.magillos.cable.desktop
	install -Dm644 connection-manager.py debian/cable/usr/share/cable/connection-manager.py
	install -Dm755 debian/cable-wrapper debian/cable/usr/bin/cable
